[submodule "dicta-shared"]
	path = dicta-shared
	url = https://github.com/ShlomoBluth/dicta-shared.git
[submodule ".github/--name"]
	path = .github/--name
	url = https://github.com/ShlomoBluth/workflows.git
[submodule ".github/workflows1"]
	path = .github/workflows1
	url = https://github.com/ShlomoBluth/workflows.git
[submodule ".github/workflows"]
	path = .github/workflows
	url = https://github.com/ShlomoBluth/workflows.git
